<html>
<head>
  <title>URL Shortener</title>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="url_shorten_container">
  <p class="error_message"><%= session[:message] %></p>
  <% session.delete(:message) %>
  <form action="/" method="post">
    <input type="text" placeholder="Enter URL to shorten" name="url">
    <input type="submit" value="Shorten">
  </form>
</div>
</body>
</html>