<html>
<head>
  <title>URL Shortener</title>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<form id="url_shorten_form">
  <input type="text" placeholder="Enter URL to shorten">
  <input type="submit" value="Shorten">
</form>
</body>
</html>