<html>
<head>
  <title>URL Shortener</title>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
<form id="url_shorten_form" action="/" method="post">
  <input type="text" placeholder="Enter URL to shorten" name="url">
  <input type="submit" value="Shorten">
</form>
</body>
</html>