<html>
<head>
  <title>Stats for <%= new_url %></title>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="url_info">
  <p>Original URL: <%= old_url %></p>
  <p>"Shortened" URL: <%= new_url %></p>
  <p><a href="/">Shorten another URL</a></p>
</div>
</body>
</html>