<html>
<head>
  <title>URL Shortener</title>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
<p>Original URL: <%= old_url %></p>
<p>"Shortened" URL: <%= new_url %></p>
</body>
</html>