body {
  font-family: Arial, sans-serif;
}

.url_shorten_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 22%;
}

input[type="text"] {
  width: 40%;
  margin: 1.5% auto 1.5%;
  display: block;
  border: 2px solid black;
  padding: .5%;
  font-size: 1.5em;
}

input[type="submit"] {
  width: 10%;
  margin: auto;
  display: block;
  border: 2px solid black;
  background: #1170F5;
  padding: .5%;
  font-size: 1.5em;
}

p.error_message {
  color: #FF0011;
  margin: auto;
  font-size: 1.25em;
}

table.url_info {
  width: 30em;
  margin: 22% auto 0;
}

table td {
  font-size: 1.5em;
  padding: .25em;
  width: ;
}


